@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #1f2122;
}

main {
  margin-inline: auto;
  margin-block-start: 12vh;
  padding-block: 4vw;
  padding-inline: 4vw;
  max-width: 1320px;
  min-height: 100vh;
  background-color: #27292a;
  border-radius: 23px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
}
