@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #1f2122;
}

main {
  margin-inline: auto;
  margin-block-start: 13vh;
  padding-block: 2vw;
  padding-inline: 3vw;
  max-width: 1320px;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  padding-block: 0.7rem;
  padding-inline: 1.8rem;
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  border-radius: 50px;
  transition: 0.15s ease-in;
  &:hover {
    background-color: #fff;
    & a {
      color: #e75e8d;
    }
  }
  & a {
    font-weight: 500;
    color: #fff;
    transition: 0.15s ease-in;
  }
}

input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
}

@media (min-width: 62rem) {
  main {
    padding-inline: 1vw;
  }
}
