.hero {
  background-image: url(../../public/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  border-radius: 23px;

  .content {
  }
}
