.section {
  margin-inline: 1vw;
  padding-block: 4vh;
  padding-inline: 5vw;
  background-color: #27292a;
  border-radius: 23px;
}

@media (min-width: 62rem) {
  .section {
    margin-inline: initial;
    padding-block: 6vh;
    padding-inline: 2vw;
  }
}
