.subSection {
  margin-block-end: 4rem;
  padding-inline: 2vw;
  margin-inline: 3vw;
  padding-block: 4vh;
  background-color: #1f2122;
  border-radius: 23px;
}

@media (min-width: 62rem) {
  .subSection {
    margin-inline: initial;
  }
}
